<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alert app</title>
    <script>
        let uuid = "";

        ws = new WebSocket("ws://localhost:8080/alert");
        ws.onopen = function () {
            console.info("WEBSOCKET CONNECTION ESTABLISHED")
        }
        ws.onmessage = function (ev) {
            if (uuid === "") {
                uuid = JSON.parse(ev.data).id
            }
            action(ev.data);
        }
        ws.onclose = function (ev) {
        }
        ws.onerror = function (ev) {
        }

        function action(message) {
            if (uuid !== "") {
                console.log("Got message: " + message)
                if (JSON.parse(message).content) {
                    alert("Notification!\n" + JSON.parse(message).content)
                }
                console.log("CLIENT ID: " + uuid)
                ws.send("{\"id\": \"" + uuid + "\", \"message\": \"pong\"}")
                console.log("Sent message: " + "{\"id\": \"" + uuid + "\", \"message\": \"pong\"}")
            }
        }
    </script>
</head>
</html>